*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
   background-color: #a7bcb9;
}
.app{
    background-color: #e0ebeb;
    padding: 30px;
    width: 70vh;
    min-height: 60vh;
}
form{
    margin-top: 10px;
    
}
form select , input , button{
    width: 100%;
    /* background: none; */
    outline: none;
}
input{
    margin: 10px 0 20px 0;
    height: 2rem;;
    font-size: larger;
    /* background: transparent; */
    outline: none;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.msg{
    margin: 20px 0 20px 0;
    font-size: larger;
}
button{
    height: 2rem;
    font-size: larger;
    cursor: pointer;
}